$primary-color: #333;

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 0.9em;

    color: $primary-color;
}

article {
  display: block;

  margin: 25px auto;

  padding: 5px;
}

article h1 {
    font-size: 30px;
    line-height: 1.5em;
}

section {
    display: block;

    margin: 10px auto;
    padding: 2px;
}
