section {
    display: block;

    margin: 10px auto;
    padding: 2px;
}

input {
    font-size: 14px;

    margin: 0px 2px;
    padding: 2px;

    border: solid 1px;
    border-radius: 3px;
    border-color: grey;
}

input::placeholder {
    color: #ddd;
}

button {
    font-size: 14px;

    margin: 0px 2px;
    padding: 2px;

    border: solid 1px;
    border-radius: 3px;
    border-color: grey;

    background-color: #eee;

    cursor: pointer;
    cursor: hand;

    width: 100px;
}
button:hover {
    background-color: #cfd8dc;
}
button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
}
